{
  "Redis:Configuration": "CONNECTION_STRING",
  "MailSender:Password": "EMAIL_PASSWORD",
  "MailSender:Email": "EMAIL_ADDRESS",
  "Jwt:Key": "HMAC_SHA512_RANDOM_KEY",
  "HCaptcha:SecretKey": "CAPTCHA_SECRET_KEY",
  "ConnectionStrings:Default": "CONNECTION_STRING",
  "ConnectionStrings:Localhost": "CONNECTION_STRING"
}